
.about .container {
    padding: 2em;
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
}
.about .container .title {
    font-size: 3em;
    line-height: 1.2;
    width: 50%;
    margin-left: 2em;
    font-family: 'PT-Sans';
    color: white;

}
.about .container .desc {
    width: 50%;
    margin-left:72px;
    line-height: 1.3em;
    font-size: 1.3em;
    margin-top: 0.5em;
    color: white;
}