
img {
    display: block;
    width: 100%;
    height: auto;
}
body {
    background-image: url('/Web-Site/images/background.jpg');
    /* background-color: bl; */
    background-repeat: no-repeat;
    background-size: 1200px 600px;
    background-position: center -5em
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
